body, html {
  height:100vh;
  width:100vw;
  padding:none;
  margin:none;

}

header {
  position:relative;
  height:50px;
  line-height:50px;
  background: rgb(57, 64, 70);
  color: rgb(215, 217,218);
  padding-left:1em;
  font-size: 20pt;
  font-family: "Sanchez",helvetica,arial,sans-serif;
  margin-bottom:0.5em;
}

#editor-parent {
  display:block;
  position:relative;
}
#editor {
  display:block;
  border-radius: 5px;
  width:100%;
  height:400px;
  font-family: 'Source Code Pro';
  margin-bottom:1em;
  resize:vertical;
}
#console {
  display:block;
  border-radius: 5px;
  height:140px;
  font-family: 'Source Code Pro';
  resize:vertical;
}


#toolbar {
  background: rgb(57,​ 64,​ 70);
  color: rgb(215,​ 217,​ 218);
  text-align:center;
  padding:1em;
}
